body {
    margin:0;
    padding: 0;
    font-size: 13px;
}
.leftmenu{
    width: 200px;
    background-color: #2E2E2E;
    position: fixed;
    left: 0;
    top:0;
    bottom: 0;   
}
.conteiner{
    padding-left: 200px;
}

.top{
    height: 40px;
    background-color: #2E2E2E;
    color:#FFF;
    font-size: 15px;
}
.top_right{
    float: right;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    padding-right: 10px;
}
.top_right a {
    color:#FFF;
    text-decoration: none;
}
.company_name{
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    color:#FFF;
    text-align: center;
}
.tabbody{
    padding-top: 20px;
}
.menuarea{
    color:#FFF;
}
.menuarea ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menuarea li{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    padding-left: 30px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: 10px 14px;
}
.menuarea li:hover {
    background-color: #CCC;
   
}
.menuarea li a {
    color:#FFF;
    text-decoration: none;
    display: block;
}
.menuarea li:nth-child(1){
    background-image:url('../images/home.png');
}
.menuarea li:nth-child(2){
    background-image:url('../images/key.png');
}

.menuarea li:nth-child(3){
    background-image:url('../images/users.png');
}

.menuarea li:nth-child(4){
    background-image:url('../images/avatar.png');
}
.menuarea li:nth-child(5){
    background-image:url('../images/avatar.png');
}
.menuarea li:nth-child(6){
    background-image:url('../images/logout.png');
}
.area{
    padding-left: 215px;
     
}
.tabarea{
    height: 40px;
}
.tabitem{
    float: left;
    width: 50%;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #000;
    background-color: #EEE;
    cursor: pointer;
}
.activetab{
    border-bottom: 1px solid #FFF;
    background-color: #FFF;
}
.tabbody{
    display: none;
}
input[type=text],
input[type=email],
input[type=password],
select,
textarea{
    width: 100%;
    height: 40px;
    font-size: 13px;
    outline: 0;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 5px;
}
textarea {
    height: 100px;
    border: 1px solid #CCC;
    }
    
input[type=submit],
button, 
.button{
    border: 0px;
    background-color: #224074;
    color: #FFF;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
}
.button_small{
    height: 30px;
    line-height: 30px;
    background-color: #EC5353;
}
.button_small_edit{
    background-color: #3cc8e2;
    height: 30px;
    line-height: 30px;
    color: #000;
    
}
.button_small_delet{
    background-color: #EC5353;
    height: 30px;
    line-height: 30px;
     color: #000;    
}
.button a{
    color: #FFF;
    text-decoration: none;
 }
 table{
     margin-top: 20px;
 }
 table th{
     height: 40px;
     line-height: 40px;
     background-color: #DDD;
     text-align: left;
     padding-left: 10px;
     padding-right: 10px;
 }
 
 table td{
     height: 40px;
     line-height: 40px;
     background-color: #EEE;
     text-align: left;
     padding-left: 10px;
     padding-right: 10px;
 }
 .p_item{
     height: 20px;
     line-height: 20px;
     margin-top: 10px;
 }
 .warn{
     height: 30px;
     line-height: 30px;
     background-color: #F28E8E;
     border: 2px solid #CCC;
     border-radius: 3px;
     margin-top: 10px;
     margin-bottom: 10px;
     padding-left: 10px;
    
      
 }
 .pag_item{
     widows: 20px;
     height: 20px;
     float: left;
     border: 1px solid #000;
     margin-right: 3px;
     text-align: center;
     line-height: 20px;
 }
 
 .pagination{
     margin-top: 30px;
     margin-bottom: 30px;
     
 }
 .pag_item a{
     color: #000;
     text-decoration: none;
 }
 .pag_ativo{
     background-color: #3cc8e2;
     
 }
 .pag_ativo a{
     color: #FFF;
 }
 
 #busca{
     width: 100px;
     height: 30px;
     float: right;
     background-image: url('../images/magnifier.png');
     background-repeat: no-repeat;
     background-size: 15px 15px;
     background-position: 5px;
     padding-left: 25px;
     border-radius: 3px;
     border: 1px solid #ccc;
     
 }

 .searchresults{
     width:450px;
     min-height: 200px;
     background-color: #FFF;
     position: absolute;
     border: 1px solid #CCC;
 }
 
 .si{
     height: 30px;
     line-height: 30px;
     padding-left: 10px;
     cursor: pointer;
  }
  .si a{
      text-decoration: none;
      color: #000;
      display: block;
  }
  .si:hover{
      background-color: #EEE;
  }
  .requerid{
      background-color: #eee;
  }

